<div class="row" ng-controller="userController">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>用户管理</h5>
			</div>
			<div class="ibox-content">
				<div class="row row-lg">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-lg-2 col-sm-3">
								<div class="panel panel-default">
									<div class="panel-heading">组织机构</div>
									<div class="panel-body dept-tree">
										<ul id="deptTreeForSearch" class="ztree"></ul>
									</div>
								</div>
							</div>
							<div class="col-lg-10 col-sm-9">
								<div class="row">
									<div class="col-lg-10 col-sm-9">
										<div class="row">
											<div class="col-lg-4 col-sm-12">
												<div class="input-group">
													<div class="input-group-btn">
														<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">用户名称
														</button>
													</div>
													<input type="text" class="form-control" placeholder="帐号/姓名/手机号" ng-model="searchItem.name">
												</div>      
											</div>
											<div class="col-lg-4 col-sm-6">
												<div class="input-group">
													<div class="input-group-btn">
														<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">注册开始日期
														</button>
													</div>
													<input type="text" class="form-control bg-white" id="beginTime"  readonly="readonly" 
														   ng-model="searchItem.beginTime" placeholder="yyyy-MM-dd">
												</div>   
											</div>
											<div class="col-lg-4 col-sm-6">
												<div class="input-group">
													<div class="input-group-btn">
														<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">注册结束日期
														</button>
													</div>
													<input type="text" class="form-control bg-white" id="endTime" readonly="readonly" 
														   ng-model="searchItem.endTime" placeholder="yyyy-MM-dd">
												</div>   
											</div>
										</div>
									</div>
									<div class="col-lg-2 col-sm-3">
										<div class="row">
											<div class="col-lg-12 col-sm-12">
												<button type="button" class="btn btn-primary " ng-click="toFirstPage()">
													<i class="fa fa-search"></i>&nbsp;搜索
												</button>
												<button type="button" class="btn btn-primary " ng-click="clear()">
													<i class="fa fa-refresh"></i>&nbsp;清除
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="hidden-xs mt-10">
									<button type="button" class="btn btn-primary " ng-click="openAdd()"
										ng-if="buttonPermission.add">
										<i class="fa fa-plus"></i>&nbsp;添加
									</button>
									<button type="button" class="btn btn-primary button-margin" ng-click="openUpdate()"
									    ng-if="buttonPermission.update">
										<i class="fa fa-edit"></i>&nbsp;修改
									</button>
									<button type="button" class="btn btn-primary button-margin" ng-click="deleteUser()"
									    ng-if="buttonPermission.delete">
										<i class="fa fa-minus"></i>&nbsp;删除
									</button>
									<button type="button" class="btn btn-primary button-margin" ng-click="resetPassword()"
										ng-if="buttonPermission.reset">
										<i class="fa fa-refresh"></i>&nbsp;重置密码
									</button>
									<button type="button" class="btn btn-primary button-margin" ng-click="freeze()"
										ng-if="buttonPermission.freeze">
										<i class="fa fa-warning"></i>&nbsp;冻结
									</button>
									<button type="button" class="btn btn-primary button-margin" ng-click="unfreeze()"
										ng-if="buttonPermission.unfreeze">
										<i class="fa fa-check-circle"></i>&nbsp;解除冻结
									</button>
								</div>
								<table class="layui-hide"  lay-filter="mgr_user_table"></table> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
