<div class="wrapper wrapper-content animated fadeInRight">
	<div class="ibox float-e-margins">
		<div class="ibox-content">
			<div class="form-horizontal bv-form" >
				<div class="row" ng-form="editForm">
					<div class="col-sm-6 b-r">
						<div ng-class="{'form-group':true, 'has-feedback':true, 
						               'has-error': editForm.name.$error.required 
											     && editForm.name.$dirty}">
							<label class="col-sm-3 control-label">角色名称</label>
							<div class="col-sm-9">
								<input class="form-control"	ng-model="submitData.name" name="name" required>
								<small style="display: block;color:#ed5565"
    							       ng-if="editForm.name.$error.required 
   							       		   && editForm.name.$dirty">
    						 		角色名称不能为空
    							</small>
							</div>
						</div>
						<div class="hr-line-dashed"></div>

							<div ng-class="{'form-group':true, 'has-feedback':true, 
						                'has-error': editForm.chosedRoleName.$error.required 
								      && editForm.chosedRoleName.$dirty}">
					      	<div class="zTreeDemoBackground left" id="roleMenu" style='display:none'>
								<ul id="roleTree" class="ztree tree-box"></ul>
							</div>
							
							<label class="col-sm-3 control-label">上级名称</label>
							<div class="col-sm-9" ng-click="showRoleTree()">
								<input class="form-control"	
									   ng-model="submitData.pName" 
									   name="chosedRoleName" 
									   required
									   readonly="readonly" 
									   style="background-color: #ffffff !important;">
								<small style="display: block;color:#ed5565"
									   ng-if="editForm.chosedRoleName.$error.required 
							       		   && editForm.chosedRoleName.$dirty">请设置上级角色
								</small>
							</div>
						</div>
						<div class="hr-line-dashed"></div>

					</div>
					
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-3 control-label">别名</label>
							<div class="col-sm-9">
								<input class="form-control" ng-model="submitData.tips" >
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label">排序</label>
							<div class="col-sm-9">
								<input class="form-control" ng-model="submitData.num" type="number">
							</div>
						</div>

					</div>
				</div>
				<div class="row btn-group-m-t">
					<div class="col-sm-10">
						<button type="button" class="btn btn-success dialog-btn"
							ng-click="addSubmit()" id="ensure">
							<i class="fa fa-check"></i>&nbsp;提交
						</button>
						<button type="button" class="btn btn-danger dialog-btn"
							ng-click="closeLayer()" id="cancel">
							<i class="fa fa-eraser"></i>&nbsp;取消
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>