<div>
    <div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{submitData.name}}</h5>
            </div>
            <div class="ibox-content">
                <ul id="menuTree" class="ztree tree-box"></ul>
            </div>
        </div>
    </div>
    <div class="assign-btn">
        <div class="col-md-12">
            <button class="btn btn-sm btn-success dialog-btn" type="button" ng-click="setAuthority()">
                <i class="ace-icon fa fa-check bigger-110"></i>保存
            </button>
            &nbsp;
            <button class="btn btn-sm btn-danger dialog-btn" type="button" ng-click="closeLayer()">
                <i class="ace-icon fa fa-close bigger-110"></i>关闭
            </button>
        </div>
    </div>
</div>
