<div class="wrapper wrapper-content animated fadeInRight">
	<div class="ibox float-e-margins">
		<div class="ibox-content">
			<div class="form-horizontal bv-form" >
				<div class="row" ng-form="editForm">
					<div class="col-sm-6 b-r">
						<div ng-class="{'form-group':true, 'has-feedback':true, 
						               'has-error': editForm.name.$error.required 
											     && editForm.name.$dirty}">
							<label class="col-sm-3 control-label">字典名称</label>
							<div class="col-sm-9">
								<input class="form-control"	ng-model="submitData.name" name="name" required>
								<small style="display: block;color:#ed5565"
									   ng-if="editForm.name.$error.required 
							       		   && editForm.name.$dirty">字典名称不能为空
								</small>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group has-feedback">
							<div class="zTreeDemoBackground left" id="dictMenu" style='display:none'>
								<ul id="dictTree" class="ztree tree-box"></ul>
							</div>
							<label class="col-sm-3 control-label">父级字典</label>
							<div class="col-sm-9">
								<input class="form-control"
									   ng-click="showDictTree()"
									   ng-model="submitData.pName"
									   name="chosedDictName" 
									   readonly="readonly" 
									   style="background-color: #ffffff !important;">
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group has-feedback">
							<label class="col-sm-3 control-label">描述</label>
							<div class="col-sm-9">
								<input class="form-control"	
									   ng-model="submitData.tips">
							</div>
						</div>
						<div class="hr-line-dashed"></div>
					</div>
					
					<div class="col-sm-6">
						<div ng-class="{'form-group':true, 'has-feedback':true, 
						                'has-error': editForm.code.$error.required 
											      && editForm.code.$dirty}">
							<label class="col-sm-3 control-label">字典编码</label>
							<div class="col-sm-9">
								<input class="form-control"	ng-model="submitData.code" name="code" required>
								<small style="display: block;color:#ed5565"
									   ng-if="editForm.code.$error.required 
							       		   && editForm.code.$dirty">字典名称不能为空
								</small>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group has-feedback">
							<label class="col-sm-3 control-label">排序</label>
							<div class="col-sm-9">
								<input class="form-control"	
									   ng-model="submitData.num">
							</div>
						</div>
						<div class="hr-line-dashed"></div>
					</div>
				</div>
				<div class="row btn-group-m-t">
					<div class="col-sm-10">
						<button type="button" class="btn btn-success dialog-btn "
							ng-click="updateSubmit()" id="ensure">
							<i class="fa fa-check"></i>&nbsp;提交
						</button>
						<button type="button" class="btn btn-danger dialog-btn"
							ng-click="closeLayer()" id="cancel">
							<i class="fa fa-eraser"></i>&nbsp;取消
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
