<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumu.modular.system.dao.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mumu.modular.system.model.Dict">
        <id column="id" property="id"/>
        <result column="num" property="num"/>
        <result column="pId" property="pid"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="tips" property="tips"/>
    </resultMap>

    <sql id="Base_Column_List">
		id, num,code, pid, name, tips
	</sql>

    <select id="selectByCode" resultType="dict">
        select
        <include refid="Base_Column_List"/>
        from sys_dict
        where code like CONCAT('%',#{code},'%')
    </select>

    <select id="list" resultType="map">
        select 
       	t1.id as id, t1.num as num, t1.code as code, t1.pid as pId, t1.name as name, t1.tips as tips, t2.name as pName
        FROM sys_dict t1 LEFT JOIN sys_dict t2 ON t1.pid = t2.id
        where 1 = 1
        <if test="condition != null and condition != ''">
            AND t1.name like CONCAT('%',#{condition},'%')
        </if>
        order by id ASC
    </select>

</mapper>
